<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <title>Home Page</title>
  </head>
  <body>
    <div>
      <div>
        <ul class="nav justify-content-center bg-light   p-3">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/products">Product</a></li>
        </ul>
      </div>
  </div>
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      perferendis vero quidem sed eaque magnam nesciunt animi dolore, eligendi
      laborum?
    </p>
  </body>
</html>
