<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %> 
  </head>
  <body>
    <!-- Nav section start -->
    <%- include('./partials/nav.ejs') %> 
    <!-- Nav section end -->
    
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      perferendis vero quidem sed eaque magnam nesciunt animi dolore, eligendi
      laborum?
    </p>
  </body>
</html>
