<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <ul class="nav justify-content-center bg-light   p-3">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Product</a></li>
          </ul>
        </div>
    </div>
    </div>
    <h1>Contact us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
      unde id voluptates magni delectus accusamus libero. Placeat odit
      doloremque quos sapiente voluptatem, eum quibusdam non cumque eligendi
      quasi nesciunt ad!
    </p>
    <div id="users"></div>
    <div class="students"></div>
  </body>
  <script>
    // fetch('https://jsonplaceholder.typicode.com/users/')
    // .then((response)=> response.json())
    // .then((data)=>{
    //   for (let index = 0; index < data.length; index++) {
    //     const element = data[index];
    //     document.querySelector('#users').innerHTML += `
    //         <h3>${element.id}</h3>
    //         <h3>${element.name}</h3>
    //         <h3>${element.username}</h3>
    //         <p>${element.email}</p>
    //         <p>${element.address.street}</p>
    //         <p>${element.address.suite}</p>
    //         <p>${element.address.city}</p>
    //         <p>${element.phone}</p>
    //         <p>${element.website}</p>
    //         <p>${element.company.name}</p>
    //     `;
    //   }
    // })
    fetch('http://localhost:5000/api/students')
    .then((response)=>  response.json())
    .then((data)=>{
      for (let index = 0; index < data.length; index++) {
        const element = data[index];console.log(element);
        document.querySelector('.students').innerHTML += `
              <h1>Name: ${element.name}</h1>
              <h4>Age: ${element.age}</h4>
              <h4>Complexion: ${element.complexion}</h4>
        `;
      }
    })




















  </script>
</html>
