<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    </div>
    <h1>Contact us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
      unde id voluptates magni delectus accusamus libero. Placeat odit
      doloremque quos sapiente voluptatem, eum quibusdam non cumque eligendi
      quasi nesciunt ad!
    </p>
  </body>
</html>
