<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %> 
  </head>
  <body>
    <!-- nav section start -->
    <%- include('./partials/nav.ejs') %> 
    <!-- nav section end -->


    <h1 class="mt-3">Welcome to our Dashboard</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quam
      laboriosam alias soluta esse perferendis minima ducimus doloremque ab
      repellendus!
    </p>
    <div class="post"></div>
    <div id="main"></div>

  </body>
  <!-- <script>
    fetch("https://jsonplaceholder.typicode.com/posts/")
      .then((response) => response.json())
      .then((data) => {
        // for (let index = 0; index < data.length; index++) {
        //   const element = data[index];
        //   document.querySelector(".post").innerHTML += `
        //     <h1>${element.title}</h1>
        //     <p>${element.body.slice(0, 100)}</p>
        // `;
        // }
        console.log(data);
      });

    let students = [
      { name: "Davidson", age: 20, complexion: "Chocolate" },
      { name: "dson", age: 10, complexion: "Fair" },
      { name: "David", age: 25, complexion: "Dark" },
      { name: "Dav", age: 30, complexion: "Chocolate" },
    ];
    let studentHtml = document.querySelector("#main");
    for (const student of students) {
      console.log(
        `the student name is ${student.name} and his age is ${student.age} and he is ${student.complexion} is complexion`
      );
      studentHtml.innerHTML += `<h1>the student name is ${student.name} and his age is ${student.age} and he is ${student.complexion} is complexion</h1>`;
    }
  //   let a = "name"
  //   console.log(a);
  //   a +=  " is";
  // console.log(a);
  </script> -->
</html>
